body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: Green;
}

img
{
margin:1px;
height:auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.devantJA{
   grid-column: 5;
   grid-row: 7;
   align-self: center;
   justify-self:center;
}

.devantJG{
   grid-column: 3;
   grid-row: 5;
   align-self: center;
   justify-self:center;
}
.devantJC{
   grid-column: 5;
   grid-row: 3;
   align-self: center;
   justify-self:center;
}
.devantJD{
   grid-column: 7;
   grid-row: 5;
   align-self: center;
   justify-self:center;
}



.jeuActif{
   grid-column: 3/ 9;
   grid-row:9/10;
   align-self: center;
   justify-self:center;
}

.joueurGauche{

   grid-column: 2;
   grid-row:3/9;
   align-self:  center;
   justify-self:center;
}

.equipier{
   grid-column: 3/9;
   grid-row:1/2;
   align-self: center;
   justify-self:center;
}

.joueurDroite{
   grid-column:9;
   grid-row:3/9;
   align-self: center;
   justify-self:center;
}


.options{
   grid-column: 10;
   grid-row:1;
   align-self: center;
   justify-self:center;
}

.carte{
  width:6vw;
}
