body {
  font-family: sans-serif;
  background-color: SaddleBrown
}


#mainpage{
  position:absolute;
  left:0;
  top:0;
}

dialog{
  top:100px;
  text-align: center;
  font-size: 20px;
  background-color: darkgreen;
  border-width: 0;
  display:none;
}

#stockimages{
  display:none;
}
